{
	auto_https disable_redirects
	default_sni 192.168.0.200
}

192.168.0.200:443, localhost:443, 127.0.0.1:443 {
	tls internal
	reverse_proxy movo:3000
}

:80 {
	redir https://192.168.0.200{uri} permanent
}
